@model IEnumerable<BookShop.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/Categories/Create" method="post">
    <div class="form-group">
        <input type="text" name="Name" />
        <input type="submit" value="Thêm" class="btn btn-primary" />
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id }, new { onclick = "return confirm('Bạn có muốn xóa không?');" })
        </td>
    </tr>
}

</table>
